modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33857
externalPort = 3002

[[ports]]
localPort = 43409
externalPort = 3003

[[ports]]
localPort = 44191
externalPort = 3001

[[ports]]
localPort = 45719
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_mem_db:1.0.0", "javascript_database:1.0.0"]

[env]
REPL_SLUG = "rest-express"
REPL_OWNER = "levanwood"
RETELL_API_KEY = "key_79fdef89029eceba2a392ec891fb"
